/*component */

@import url("components/container.css");

/*button*/

@import url("components/button.css");

/*navbar*/

@import url("components/navbar.css");

/*image*/

@import url("components/image.css");

/*icon*/

@import url("components/icon.css");

/*cards*/

@import url("components/card.css");

/*********************************************/


/******SECTIONS IDS***********/

#features {
    padding: 7% 10%;
    background-color: #fff;
    position: relative;
}

#title {
    background-color: #ff4c68;
    color: white;
}

#testimonials {
    text-align: center;
    background-color: #ff4c68;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#press {
    padding: 3% 3%;
    text-align: center;
    background-color: #fff;
}

#pricing {
    padding: 100px;
    text-align: center;
}


/* CTA section  */

#cta {
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
}

#footer {
    padding: 7% 15%;
    background-color: #fff;
}


/***********Media breakpoint *****************/

@media (max-width: 1028px) {
    .title-image {
        position: static;
        transform: rotate(0deg);
    }
    #title {
        text-align: center;
        align-items: center;
    }
}


/***********Selector and classes ***************/

body {
    font-family: "Montserrat", ;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
.feature-box-text,
.cta-heading,
.copyright-txt {
    font-family: "Montserrat", ;
}

h3 {
    font-weight: 900;
}

p {
    color: #8f8f8f;
}


/* big-heading */

.big-heading {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.price-txt {
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 1.5;
}

.feature-box {
    padding: 5%;
}

.feature-box-text {
    font-weight: 600;
}

.carousel-item {
    padding: 7% 10%;
}

.cta-heading {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.copyright-txt {
    font-weight: 600;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}