.download-btn {
    margin: 5% 3% 5% 0;
    font-weight: 500;
}


/* back to top button */

#backtotop-button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
}

#backtotop-button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#backtotop-button:hover {
    cursor: pointer;
    background-color: #333;
}

#backtotop-button:active {
    background-color: #555;
}

#backtotop-button.show {
    opacity: 1;
    visibility: visible;
}


/* Styles for the content section */

@media (min-width: 500px) {
    #backtotop-button {
        margin: 30px;
    }
}