.title-image {
    width: 60%;
    padding-left: 32px;
    transform: rotate(25deg);
    position: relative;
    right: 25%;
    /*required for z-index to work*/
}

.testimonials-image {
    border-radius: 50%;
    width: 120px;
    /*height: 50%; */
    margin: 20px;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}